<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" IgnorableNamespaces="uap mp iot">
  <Identity Name="7831DebjyotiGorai.DGDEV" Version="1.0.0.0" Publisher="CN=194F6857-1E4A-4EE1-A91D-84288D3DF1E8" />
  <mp:PhoneIdentity PhoneProductId="bed8d35b-5b6d-4a40-bd3b-0f9f1892c947" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>DG DEV</DisplayName>
    <PublisherDisplayName>Debjyoti Gorai</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="https://www.debjyotigorai.tk">
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="https://www.debjyotigorai.tk" Type="include" WindowsRuntimeAccess="all" />
        <uap:Rule Match="https://*.*" Type="include" WindowsRuntimeAccess="all" />
        <uap:Rule Match="http://*.*" Type="include" WindowsRuntimeAccess="none" />
      </uap:ApplicationContentUriRules>
      <uap:VisualElements DisplayName="DG DEV" Description="Progressive Web App for the website www.debjyotigorai.tk. See my projects created in C++, Python and C on my website as well as in the app." BackgroundColor="transparent" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" ShortName="DG DEV" Square310x310Logo="images\LargeTile.png" Square71x71Logo="images\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\splashscreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileSavePicker">
          <uap:FileSavePicker>
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType />
            </uap:SupportedFileTypes>
          </uap:FileSavePicker>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="phoneCall" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>